.asterisk:after {
    content: "*";
    color: red;
    font-size: 15px;
    vertical-align: super;
}

.question:after {
    content: "?";
    color: red;
    font-size: 15px;
    vertical-align: super;
}


.selected {
    background-color: black;
    color: white;
}
