<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MathematicsV3</title>
    <th:block th:include="fragments :: bootstrap"></th:block>
    <th:block th:include="fragments :: staticCssJs"></th:block>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            highLightOptions(['RationalNumberOutputType', 'AngleType']);
        });
    </script>
</head>
<body>
<th:block th:replace="fragments :: navigationbar"></th:block>
<div id="body" class="container">
    <br>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm">
            <h2>Welcome to MathematicsV3</h2>
        </div>
        <div class="col-sm-1">

        </div>
    </div>
</div>
</body>

</html>
