<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Examples</title>
    <th:block th:include="fragments :: bootstrap"></th:block>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <style type="text/css">
        .questionMarkAfter:after {
            content: "?";
            color: red;
            font-size: 15px;
            vertical-align: super;
        }

        .asteriskMarkAfter:after {
            content: "*";
            color: red;
            font-size: 15px;
            vertical-align: super;
        }
    </style>
</head>
<body>
<th:block th:include="fragments :: navigationbar"></th:block>
<div class="container">
    <h2>Examples</h2>
    <br>
    <h3>Calculate sinus</h3>
    <form method="post" th:with="mapping=${T(nl.smith.mathematics.controller.DefaultController).MAPPING_SIN}"
          th:action="${mapping}" th:target="${mapping}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Argument</th>
                <th class="asteriskMarkAfter">Output type</th>
                <th class="questionMarkAfter"
                    data-toggle="popover"
                    title="Scale"
                    data-content="Number of decimals after the decimal point"
                    data-placement="right">
                    Scale
                </th>
                <th colspan="2">Maximum degree polynomial function</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input name="rationalNumberAsString" title="RationalNumber as string" value="0.785398163397448"></td>
                <td><select id="outputPredefinedType" name="outputPredefinedType">
                    <option
                            th:each="outputPredefinedType: ${T(nl.smith.mathematics.configuration.constant.RationalNumberOutputType.PredefinedType).values()}"
                            th:value="${outputPredefinedType}"
                            th:text="${outputPredefinedType}"></option>
                </select></td>
                <td><input name="scale" value="20" maxlength="2" size="3"></td>
                <td><input name="maximumDegreeOfPolynomial"
                           title="Calculate value using polynomial value of degree 0...specified degree." value="50">
                <td class="text-right"><input class="btn btn-primary" type="submit"
                                              value="Calculate sinus using Taylor series"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <br>
    <h3>Calculate exp</h3>
    <form method="get" th:with="mapping=${T(nl.smith.mathematics.controller.DefaultController).MAPPING_EXP}"
          th:action="${mapping}" th:target="${mapping}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Argument</th>
                <th class="asteriskMarkAfter">Output type</th>
                <th class="questionMarkAfter"
                    data-toggle="popover"
                    title="Scale"
                    data-content="Number of decimals after the decimal point"
                    data-placement="right">
                    Scale
                </th>
                <th colspan="2">Maximum degree polynomial function</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input name="rationalNumberAsString" title="RationalNumber as string" value="1"></td>
                <td><select id="outputPredefinedType" name="outputPredefinedType">
                    <option
                            th:each="outputPredefinedType: ${T(nl.smith.mathematics.configuration.constant.RationalNumberOutputType.Type).values()}"
                            th:value="${outputPredefinedType}"
                            th:text="${outputPredefinedType}"></option>
                </select></td>
                <td><input name="scale" value="20" maxlength="2" size="3"></td>
                <td><input name="maximumDegreeOfPolynomial"
                           title="Calculate value using polynomial value of degree 0...specified degree."
                           value="50">
                <td class="text-right"><input class="btn btn-primary" type="submit"
                                              value="Calculate exp using Taylor series"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="asteriskMarkAfter">Output type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="outputPredefinedType: ${T(nl.smith.mathematics.configuration.constant.RationalNumberOutputType.Type).values()}">
                <td th:text="${outputPredefinedType.name()}"></td>
                <td th:text="${outputPredefinedType.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <br>
    <h3>Calculate value of a RationalNumber created from a numerator and denominator</h3>
    <form method="get"
          th:with="mapping=${T(nl.smith.mathematics.controller.DefaultController).MAPPING_VALUE_OF_USING_NUMERATOR_DENOMINATOR}"
          th:action="${mapping}" th:target="${mapping}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Numerator</th>
                <th>Denominator</th>
                <th class="questionMarkAfter"
                    data-toggle="popover"
                    title="Scale"
                    data-content="Number of decimals after the decimal point"
                    data-placement="right">
                    Scale
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input name="numerator" title="Numerator" value="1" maxlength="10" size="10">
                </td>
                <td>
                    <input name="denominator" title="Denominator" value="7" maxlength="10" size="10">
                </td>
                <td>
                    <input name="scale" value="20" maxlength="2" size="3">
                </td>
                <td class="text-right">
                    <input class="btn btn-primary" type="submit"
                           value="Calculate RationalNumber in different forms">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <br>
    <h3>Create RationalNumber from a String</h3>
    <form method="get"
          th:with="mapping=${T(nl.smith.mathematics.controller.DefaultController).MAPPING_RATIONAL_VALUE_FROM_STRING}"
          th:action="${mapping}" th:target="${mapping}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="asteriskMarkAfter">String representation of a number
                </th>
                <th class="questionMarkAfter"
                    data-toggle="popover"
                    title="Scale"
                    data-content="Number of decimals after the decimal point"
                    data-placement="right">
                    Scale
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input name="rationalNumberAsString" title="Rational number using string format"
                           value="12.345[6789]RE[02]"
                           maxlength="20" size="20">
                </td>
                <td>
                    <input name="scale" value="20" maxlength="2" size="3">
                </td>
                <td class="text-right">
                    <input class="btn btn-primary" type="submit"
                           value="Calculate RationalNumber in different forms">
                </td>
            </tr>
            <tr>
                <td colspan="3" class="form-group">
                    <label for="exampleFormControlTextarea1" class="asteriskMarkAfter">Rational number string format
                        pattern</label>
                    <textarea style="font-family: courier" class="form-control" id="exampleFormControlTextarea1"
                              rows="3" th:inline="text">[[${T(nl.smith.mathematics.util.RationalNumberUtil).NUMBER_PATTERN.toString()}]]</textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<br>
<div id="Osama">Test</div>
</body>

</html>
